<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="RPG, Video-Game, CRPG, Database, Review, News">
    <meta name="description" content="CRPG Tavern is the website for latest news, information and reviews about Computer Role Playing Games">
    <meta name="robots" content="index, follow">
    <meta name="twitter:site" content="@pojovger">
    <% if (!locals.metaimg) { %>
        <meta name="og:image" content = "https://crpgtavern.com/img/default.jpg">
        <meta name="twitter:image" content = "https://crpgtavern.com/img/default.jpg">
        <meta name="twitter:image:alt" content = "https://crpgtavern.com/img/default.jpg">
        <meta name="twitter:card" content = "summary_large_image">
    <% } else { %>
     
    <meta name="og:image" content = "https://crpgtavern.com/img/<%= metaimg %>">
    <meta name="twitter:image" content = "https://crpgtavern.com/img/<%= metaimg %>">
    <meta name="twitter:image:alt" content = "https://crpgtavern.com/img/default.jpg">
    <meta name="twitter:card" content = "summary_large_image">
    <% } %>
    <meta name="og:type" content="article">
    <% if (locals.title) { %>
        <meta name="twitter:title" content="<%= locals.title %>">
        <title> <%= locals.title %></title>
    <% } else { %>
        <meta name="twitter:title" content="CRPG Tavern">
        <title> CRPG Tavern</title>
    <% } %>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
    <link rel="stylesheet" href = "/css/style.css">
    <script type="text/javascript" defer src = "/js/script.js"></script>

    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=66f45e204a9f71001934c668&product=inline-share-buttons&source=platform" async="async"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7P336V8WE9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7P336V8WE9');
    </script>
    
</head>
<body>
    <%- include('../partials/search.ejs') %>

    <div class="container-fluid full">
        <%- include('../partials/header.ejs') %>
        <main class="main"> 
            <%- body %>
        </main>
       
        
    </div>
    <%- include('../partials/footer.ejs') %>
    
    
</body>
<!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
<script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.2.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"dark","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"crpgtavern.com",
    "callbacks": {
	"scripts_specific_loaded": (level) => {
		switch(level) {
			case 'targeting':
				gtag('consent', 'update', {
					'ad_storage': 'granted',
					'ad_user_data': 'granted',
					'ad_personalization': 'granted',
					'analytics_storage': 'granted'
				});
				break;
		}
	}
    },
    "callbacks_force": true
});
});
</script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){
        dataLayer.push(arguments);
    }
    gtag('consent', 'default', {
        'ad_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'analytics_storage': 'denied'
    });
</script>
<!-- Google Analytics -->
<!-- Google tag (gtag.js) -->
<script type="text/plain" data-cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=G-7P336V8WE9"></script>
<script type="text/plain" data-cookie-consent="tracking">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7P336V8WE9');
</script>
<!-- end of Google Analytics-->

<noscript>Free cookie consent management tool by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
<!-- End Cookie Consent by TermsFeed https://www.TermsFeed.com -->





<!-- Below is the link that users can use to open Preferences Center to change their preferences. Do not modify the ID parameter. Place it where appropriate, style it as needed. -->

<a href="#" id="open_preferences_center">Update cookies preferences</a>

</html>