<div class="container-xl full-article">
    <h1 class="article-heading"><%= data.title  %></h1>
    <div class="row container-fluid">
        <div class="col-sm-4">
            <h3>Published on: <%= data.createdAt.toLocaleDateString() %></h3>
        </div>
        <div class="col-sm-8 text-right">
            <div class="sharethis-inline-share-buttons"></div>
            <input id = "url-copied" class="btn btn-secondary btn-lg float-end link-btn" type="button" value="Copy Link" onclick="copy();copySuccess();">
        </div>
    </div>
    
    <article class="video-game-article">
        <div class="container-fluid text-center">  
            <img src="/img/<%= data.imgPath %>" class="article-img lazy">
        </div>

        <div class="article-body container-fluid" id="article-body">
            <%- data.body %>
        </div>
        
    </article>
    <h2>Check out some of our other Articles</h2>
    <div class="empty-sm"></div>
    <p>
        <ul>
            <% if (nextPost!= null) { %>
                <li class="h2">
                    <a href="/post/<%= nextPost._id %>/<%= nextPost.title.replace(/ /g,"-") %>"><%= nextPost.title %></a>
                </li>
            <% } %>
            
            <% if (prevPost!= null) { %>  
                <li class="h2">
                    <a href="/post/<%= prevPost._id %>/<%= prevPost.title.replace(/ /g,"-") %>"><%= prevPost.title %></a>
                </li>
            <% } %>
            
        </ul>
    </p>
</div>
